
.weather-info-center {
    margin: auto;
}

.weather-info-container {
    width: 50px;
    line-height: 50px;
}
.weather-city-input {
    width: 200px;
}

.weather-units-input {
    width: 250px;
}